DeCryptoWPF/Connected Services/DeCryptoServices/Implementations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Implementations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IJoinToGame_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.data" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountServices_RegisterAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountServices_RegisterAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountServices_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAccountServices_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountServices_SendToken_InputMessage">
    <wsdl:part name="parameters" element="tns:SendToken" />
  </wsdl:message>
  <wsdl:message name="IAccountServices_SendToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerServices_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IJoinToGame_CreateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoom" />
  </wsdl:message>
  <wsdl:message name="IJoinToGame_CreateRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IJoinToGame_JoinToRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinToRoom" />
  </wsdl:message>
  <wsdl:message name="IJoinToGame_LeaveRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveRoom" />
  </wsdl:message>
  <wsdl:message name="IJoinToGame_LeaveRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IJoinToGame_RecivePlayers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecivePlayers" />
  </wsdl:message>
  <wsdl:message name="IJoinToGame_RecivePlayers_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecivePlayersResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountServices">
    <wsdl:operation name="RegisterAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountServices/RegisterAccount" message="tns:IAccountServices_RegisterAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountServices/RegisterAccountResponse" message="tns:IAccountServices_RegisterAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountServices/Login" message="tns:IAccountServices_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountServices/LoginResponse" message="tns:IAccountServices_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountServices/SendToken" message="tns:IAccountServices_SendToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountServices/SendTokenResponse" message="tns:IAccountServices_SendToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPlayerServices">
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerServices/RegisterPlayer" message="tns:IPlayerServices_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerServices/RegisterPlayerResponse" message="tns:IPlayerServices_RegisterPlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IJoinToGame">
    <wsdl:operation name="CreateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IJoinToGame/CreateRoom" message="tns:IJoinToGame_CreateRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJoinToGame/CreateRoomResponse" message="tns:IJoinToGame_CreateRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinToRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IJoinToGame/JoinToRoom" message="tns:IJoinToGame_JoinToRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IJoinToGame/LeaveRoom" message="tns:IJoinToGame_LeaveRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJoinToGame/LeaveRoomResponse" message="tns:IJoinToGame_LeaveRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecivePlayers">
      <wsdl:output wsaw:Action="http://tempuri.org/IJoinToGame/RecivePlayers" message="tns:IJoinToGame_RecivePlayers_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IJoinToGame/RecivePlayersResponse" message="tns:IJoinToGame_RecivePlayers_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountServices" type="tns:IAccountServices">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountServices_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterAccount">
      <soap12:operation soapAction="http://tempuri.org/IAccountServices/RegisterAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IAccountServices/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToken">
      <soap12:operation soapAction="http://tempuri.org/IAccountServices/SendToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPlayerServices" type="tns:IPlayerServices">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerServices_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerServices/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IJoinToGame" type="tns:IJoinToGame">
    <wsp:PolicyReference URI="#NetTcpBinding_IJoinToGame_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateRoom">
      <soap12:operation soapAction="http://tempuri.org/IJoinToGame/CreateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinToRoom">
      <soap12:operation soapAction="http://tempuri.org/IJoinToGame/JoinToRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LeaveRoom">
      <soap12:operation soapAction="http://tempuri.org/IJoinToGame/LeaveRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecivePlayers">
      <soap12:operation soapAction="http://tempuri.org/IJoinToGame/RecivePlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Implementations">
    <wsdl:port name="NetTcpBinding_IAccountServices" binding="tns:NetTcpBinding_IAccountServices">
      <soap12:address location="net.tcp://localhost:8081/AccountService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/AccountService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP_DAN\danse</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPlayerServices" binding="tns:NetTcpBinding_IPlayerServices">
      <soap12:address location="net.tcp://localhost:8081/PlayerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/PlayerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP_DAN\danse</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IJoinToGame" binding="tns:NetTcpBinding_IJoinToGame">
      <soap12:address location="net.tcp://localhost:8081/JoinToGameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/JoinToGameService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP_DAN\danse</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>