DeCryptoWPF/Connected Services/DeCryptoServices/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailVerify" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileImage" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BlueTeam">
    <xs:sequence>
      <xs:element minOccurs="0" name="nicknamePlayer1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nicknamePlayer2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlueTeam" nillable="true" type="tns:BlueTeam" />
  <xs:complexType name="RedTeam">
    <xs:sequence>
      <xs:element minOccurs="0" name="nicknamePlayer1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nicknamePlayer2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RedTeam" nillable="true" type="tns:RedTeam" />
</xs:schema>