DeCryptoWPF/Connected Services/DeCryptoServices/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.data" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegisterAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="account" nillable="true" type="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="account" nillable="true" type="q2:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="LoginResult" nillable="true" type="q3:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="account" nillable="true" type="q4:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="account" nillable="true" type="q5:Account" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCurrentPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="account" nillable="true" type="q6:Account" />
        <xs:element minOccurs="0" name="currentPasswor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCurrentPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCurrentPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="user" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPlayerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimilarsNickNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimilarsNickNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSimilarsNickNamesResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistNickname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistNicknameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistNicknameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRoomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinToRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="blueTeam" nillable="true" type="q9:BlueTeam" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="redTeam" nillable="true" type="q10:RedTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllreadyExistRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllreadyExistRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllreadyExistRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinToBlueTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="blueTeam" nillable="true" type="q11:BlueTeam" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinToRedTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="redTeam" nillable="true" type="q12:RedTeam" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profilePicture" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinToGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFullRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFullRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFullRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecivePlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="profiles" nillable="true" type="q13:ArrayOfKeyValueOfstringbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecivePlayersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveBlueTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="blueTeam" nillable="true" type="q14:BlueTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveBlueTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveRedTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="redTeam" nillable="true" type="q15:RedTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveRedTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GoToGameWindow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GoToGameWindowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="chatMessage" nillable="true" type="q16:ChatMessage" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveChatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveChatMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Domain.data" minOccurs="0" name="messages" nillable="true" type="q17:ArrayOfChatMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveChatMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipientNickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFriendListResult" nillable="true" type="q18:ArrayOfKeyValueOfstringbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipientNickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jointToFriendRequestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jointToFriendRequestServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderNickname" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="friendRequestList" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveFriendRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFriendList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="friendList" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFriendListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>